/* Reset style */
* , *::before , *::after {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root variable */
:root {
    --color-white-100:#fff;
    --color-white-200:#F8F8F8;
    --color-primary-100: #FFC42E;
    --color-primary-200:#FFC42E;
    --color-primary-300: #F7BD4D;

    --color-text-50: #FBFBFB;
    --color-text-100: #AFAFAF;
    --color-text-200:#737373;
    --color-text-300 : #37290D;
    
    --border-radius-100: 8px;
    --border-radius-200: 10px;
    --border-radius-200: 20px;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    line-height: 1.8;
    background-color: var(--color-white-200);
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
p {
    margin: 0;
    color: var(--color-text-100);
}

h1,h2,h3 {
    color: var(--color-text-300);
    line-height: 1.7;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}

/* Modifire */
.block {
    padding: 3rem 5rem;
}
.block-y-1 {
    padding: 1rem 0;
}
.block-y {
    padding: 3rem 0;
}
.block-x-1 {
    padding: 0 1rem;
}
.block-x {
    padding: 0 3rem ;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.color--mute{
    color: var(--color-text-100);
}

/* Defualts */
.title {
    color: var(--color-primary-100);
}

/* btn */
.btn {
    padding: 0.2rem  1rem;
    border-radius: var(--border-radius-100);
    background-color: transparent;
    align-items: center;
}
.btn--primary{
    border: 2px solid var(--color-primary-100);
    background-color: var(--color-primary-100);
    color: var(--color-white-100);
    
}
.btn--outline {
    border: 2px solid var(--color-primary-100);
    color: var(--color-primary-100);
    background-color: var(--color-white-100);
    
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white-100);
    position: relative;
}
.header__menu {
    padding: 0 0.5rem;
}
.header__logo {
    width: 40%;
    display: flex;
    align-items: center;
}
.header__action {
    display: flex;
}
.action__icon{
    display: flex;
    padding: 0 0.5rem;
}
.action__icon img{
    height: 24px !important
}

/* -menu */
.menu__item.expanded {
    display: none;
}
.menu__item {
    /* display: none; */
    position: absolute;
    background-color: var(--color-white-100);
    top: 0;
    height: 100vh;
    width: 60%;
}
.menu__item li {
    padding: 1rem;
    border-bottom: 1px solid var(--color-text-50);
}
.close {
    position: absolute;
    top: 0;
    left: -35px;
}
.item__logo {
    padding: 1px;
}