/* Reset style */
* , *::before , *::after {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root variable */
:root {
    --color-white-100:#fff;
    --color-white-200:#F8F8F8;
    --color-primary-100: #FFC42E;
    --color-primary-200:#FFC42E;
    --color-primary-300: #F7BD4D;

    --color-text-55: rgb(226, 226, 226);
    --color-text-50: #FBFBFB;
    --color-text-100: #AFAFAF;
    --color-text-200:#737373;
    --color-text-300 : #37290D;
    --border-radius-100: 8px;
    --border-radius-200: 10px;
    --border-radius-300: 20px;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    line-height: 1.8;
    background-color: var(--color-white-200);
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
p {
    margin: 0;
}

h1,h2,h3 {
    color: var(--color-text-300);
    line-height: 1.7;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}

@media screen and (min-width:768px) {
    p {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 2rem;
    }
}
@media screen and (min-width: 1024px) {

    p {
        font-size: 1.6rem;
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 2rem;
    }
}

/* Modifire */
.block {
    padding: 0;
}
.block-1 {
    padding: 3rem 2rem;
}
.block-y-1 {
    padding: 1.5rem 0;
}
.block-y {
    padding: 3rem 0;
}
.block-x-1 {
    padding: 0 1rem;
}
.block-x {
    padding: 0 10rem ;
}
.container {
    max-width: 1670px;
    margin: 0 auto;
}
.color--mute{
    color: var(--color-text-100);
}
.text--primary {
    color: var(--color-primary-100);
}
.text--justify {
    text-align: justify;
}
/* Defualts */
.title {
    color: var(--color-primary-100);
}
.divider {
    border-bottom: 1px solid var(--color-text-100);
}
.bg-content {
    background-color: var(--color-primary-100);
    position: absolute;
    height: 72%;
    width: 81%;
    left: 47px;
    border-radius: 0 5rem 5rem 0;
    z-index: -1;
    top: 26%;
}
.border-radius-100 {
    border-radius: var(--border-radius-100);
}
.border-radius-200 {
    border-radius: var(--border-radius-200);
}
.border-radius-300 {
    border-radius: var(--border-radius-300);
}
/* btn */
.btn {
    padding: 0.4rem  1.7rem;
    border-radius: var(--border-radius-100);
    background-color: transparent;
    align-items: center;
}
.btn--primary{
    border: 2px solid var(--color-primary-100);
    background-color: var(--color-primary-100);
    color: var(--color-white-100);
}
.btn--small {
    padding: 0 1rem;
}
.btn--outline {
    border: 2px solid var(--color-primary-100);
    color: var(--color-primary-100);
    background-color: var(--color-white-100);
}
.btn--block {
    display: block;
    width: 100%;
}
/* ! parent style */
.linear-btn {
    display: flex;
    gap: 1rem;
}

/* select option */
.select-option {
    font-size: 1.7rem;
    color: var(--color-text-200);
}
/* Inputs */
.input {
    background-color: #F7F7F7;
    padding: 0.7rem 1.2rem;
    height: 5rem;
}
.input-parent {
    width: 100%;
    background-color: #F7F7F7;
    outline: 1px solid var(--color-text-100);
    /* padding: 0.7rem 1.2rem; */
    margin-top: 3rem;
}
.input-parent__item {
    display: flex;
    position: relative;
    width: 100%;
}
.search-bar__input {
    border-radius: var(--border-radius-100);
}

.input--block{
    width: 100%;
    
}
@media screen and (min-width: 768px) {
    .block {
        padding: 5rem 10rem;
    }
}
/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-white-100);
    position: relative;
}
.header-desc {
    background-color: var(--color-white-100);
    display: none;
}
.header__menu {
    padding: 0 0.5rem;
    font-size: 0;
}
.header__logo {
    width: 40% ;
    display: flex;
    align-items: center;
    justify-self: start;
}
.header__action {
    display: flex;
}
.action__icon{
    display: flex;
    padding: 0 0.5rem;
}
.action__icon img{
    height: 24px !important
}

/* -menu */
.menu__item.expanded {
    display: none;
}
.menu__item {
    /* display: none; */
    position: absolute;
    background-color: var(--color-white-100);
    top: 0;
    height: 100vh;
    width: 60%;
}
.menu__item li {
    padding: 1rem;
    border-bottom: 1px solid var(--color-text-50);
}
.close {
    position: absolute;
    top: 0;
    left: -35px;
}
.item__logo {
    padding: 1px;
}
@media screen and (min-width: 768px) {
    .header {
        display: none;
    }
    .header-desc {
        display: block;
    }
    .header-desc__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2.5rem;
    }
    .top__search-bar {
        display: none;
    }
    .top__logo{
        display: flex;
        align-items: center;
        width: 15%;
    }
    .top__action .btn--outline {
        color: var(--color-text-200);
    }
    .top__action {
        display: flex;
        gap: 0.7rem;
    }
    .header-desc__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2.5rem; 
    }
    .bottom__links ul{
        display: flex;
        align-self: center;
        gap: 1.7rem;
        margin: 0;
        font-size: 1.8rem;
    }
    .bottom__links ul li a{
        color: var(--color-text-200);
        margin: 0;
        padding: 0;
    }
    .bottom__info{
        display: flex;
        gap: 2rem;
        cursor: pointer;
    }
    .bottom__info span {
        transition: 0.3s;
    } 
    .bottom__info span:hover {
        color: var(--color-primary-300);
    }
    .bottom__info span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--color-text-200);
    }
    .bottom__info span > span {
        display: flex;
        align-items: center;
        width: 2rem;
    }
    .bottom__links ul li a{
        display: flex;
        align-items: center;
        gap: 0.6rem;
        transition: 0.3s;
    }
    .bottom__links ul li a:hover{
        color: var(--color-primary-300);
    }
    .bottom__links ul li a span{
        display: flex;
    }
    .info__img {
        /*! how change color svg */
    }
    .link__icon {
        width: 2rem;
        opacity: 0.5;
    }
}
@media screen and (min-width: 768px) {
    .top__search-bar .search-bar__input {
        background-color: #F7F7F7;
        outline: 1px solid var(--color-text-55);
        display: flex;
        justify-content: start;
        width: 35rem;
        height: 4.5rem; 
        border-radius: var(--border-radius-100);
        padding: 0.7rem 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .bottom__links ul{
        display: flex;
        align-self: center;
        gap: 4.5rem;
        margin: 0;
        font-size: 1.8rem;
    }
    .top__search-bar {
        display: block;
    }
    .top__search-bar .search-bar__input {
        width: 40rem;
    }
    .search-bar__btn {
        position: absolute;
        left: 0.3rem;    
        top: 50%;
        transform: translateY(-50%) translateX(4%);
        height: 75%;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }
}

/* know */
.know {
    display: grid;
    align-items: center;
}
.caption__text {
    text-align: justify;
}
.know__img {
    position: relative;
    display: flex;
    justify-content: center;
}
.know__caption {
    align-items: center;
}
.know__img img{
    width: 70%;
    z-index: 2;
    display: flex;
}

@media screen and (min-width: 768px) {
    .know {
        grid-template-columns:auto;
        align-items: center;
    }
    .know__caption {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 1024px) {
    .know {
        grid-template-columns: repeat(2, 1fr);
    }
    .know__caption {
        display: flex;
        align-items: flex-start;
    }
}

/* Honors */
.honors {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.honors__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-white-100);
    border-radius: var(--border-radius-300);
    box-shadow: 0 12px 15px rgb(244, 244, 244);
}
.honors__img{
    width: 40%;
}
.honors__parent {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.parent__one , .parent__two {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
@media screen and (min-width:768px) {
    .honors__parent {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 3rem;
    }
    
}
@media screen and (min-width:1024px) {
    
    .parent__one {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        gap: 2rem;
    }
    .parent__two {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        gap: 2rem;
    }
    .honors__parent {
        display: flex;
        flex-direction: column;
    }
     .honors__item {
        display: flex;
        flex-direction: row;
    }
    .honors__img{
        width: 20%;
    }
}
/* Customer */
.customers {
}
.customers__parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.customer__item {
    margin-top: 5rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    max-width: 40rem;
    background-color: var(--color-white-100);
    border-radius: var(--border-radius-300);
}
.customer__image {
    width: 10rem;
    position: absolute;
    display: flex;
    align-self: center;
    top: -5.5rem;
    border: 2px solid var(--color-text-300);
    border-radius: 100%;
}
.customer__rank {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .customers__parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .customer__item {
        display: flex;
        justify-self: center;
    }
}
@media screen and (min-width: 1024px) {
    .customers__parent {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
    }
}

/* our choice */
.our-choice {
    position: relative;
    background-color: var(--color-primary-100);
    padding: 5rem;
    padding-top: 16rem;
    margin-top: 30rem;
    height: auto;
}
.our-choice__intro {
    background-color: var(--color-white-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-300);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -22rem;
    width: 33rem;
}
.our-choice__intro img {
    width: 22rem;
}
.our-choice__text{
    text-align: justify;
    
}
.our-choice__text h2 {
    color: var(--color-text-300);
    font-size: 2.5rem;
}
.our-choice__text p {
    font-size: 1.7rem;
    color: var(--color-text-50);
}
.intro__img-md {
    display: none;
}
@media screen and (min-width: 768px) {
    .our-choice {
        padding:0;
        display: flex;
        align-items: center;
    }
    .our-choice__parent{
        display: flex;
        padding: 4rem 5rem;
    }
    .our-choice__intro {
        display: none;
        margin: 5rem ;
    }
    .input-parent{
        width: 40rem;
    }
    .our-choice {
        position: relative;
         margin-top: 0;
    }
}
@media screen and (min-width: 1024px) {
    .intro__img-md {
        display: none;
    }
    .our-choice__intro {
        display: block;
        order: 1;
        
    }
    .our-choice__parent {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .our-choice__text {
        width: 50rem;
    }
    .our-choice__intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
        left: 0;
        transform: translateX(0);
        top: 0;
        width: 33rem;
    }
}

/* Blog */
.blog {
    display: flex;  
    flex-direction: column;
    align-items: center;
}
.blog h2 {
    /* margin-bottom: 5rem; */
    display: flex;
    align-self: flex-start;
}
.blog-box {
    background-color: var(--color-white-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    position: relative;
    margin: 10rem 0;
    padding: 10rem 0 0 0;
}
.blog-box__image {
    position: absolute;
    height: 15rem;
    top: -7rem;
    width: auto;
    object-fit: cover;
}
.blog-box__text h2{
    margin: 0;
    padding: 0;
}
.blog-box__info > *{
    color: var(--color-text-200);
    font-size: 1.2rem;
}
.blog-box__bottom {
    display: flex;
    flex-direction:column;
    gap: 1.5rem;

    justify-content: space-between;
}
.blog-box__info {
    display: flex;
    gap: 1.5rem;
}
.blog-box__btn{
    display: flex;
    width: fit-content;
}
@media screen and (min-width: 768px) {
    .blog__parent {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        column-gap: 2rem ;
        margin-top: 3rem;
    }
    .blog-box {
        margin: 5rem 0;

    }
}
@media screen and (min-width: 1024px) {
    .blog__parent {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }    
    .blog-box__image{
        height: 15rem;
    }
}

/* shopp */
.shopp {
    max-width: 40rem;
    padding: 2rem;
}
.box__product {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.product__item {
    background-color: var(--color-white-100);
    padding: 2rem 1.5rem;
    border-radius: var(--border-radius-300);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.product__image{
    display: flex;
    justify-content: center;
}
.product__image img {
    width: 65%;
}

.product__buy {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
@media screen and (min-width: 768px) {
    .shopp {
        max-width: 100%;
    }
    .box__product {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .shopp__search {
        position: sticky;
        top: 20px;
        width: 35%;
    } 
    .box__product {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
}

/* shopp */
.shopp__search .input {
    border-radius: var(--border-radius-100);
    background-color: var(--color-white-100);
}
.price__box {
    background-color: var(--color-white-100);
    border-radius: var(--border-radius-100);   
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}
.price__box h2 {
    margin: 0;
    font-weight: 400;
}
.box__price-number {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: var(--color-text-200);
}
.search__input .input-parent {
    margin: 0;
}
.search__input .input ,.filter__categories .input , .filter__brand .input{
    width: 100%;
}
.filter__btn .btn , .search__btn .btn {
    height: 5rem;
    margin-top: 1.5rem;
}

/* -box header */
.box__header {
    background-color: var(--color-white-100);
    /* height: 1rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-100);
}
.box__header .select-option {
    /* width: 30%; */
    font-size: 1.2rem;
}
.shopp-header__select {
    border: 1px solid var(--color-white-200);
    padding: 0.5rem;
    background-color: var(--color-text-50);
    outline: 1px solid var(--color-text-100);
    border-radius: var(--border-radius-100);
}

@media screen and (min-width: 768px) {
    .box__header .select-option {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .shopp {
        display: flex;
        gap: 5rem;
    }
    .shopp__search {
        position: sticky;
    }
    .box__header {
        display: flex; 
        gap: 3rem;
    }
}