<section class="blog block-1 container">
        <h2>آخرین <span class="text--primary">مقالات</span></h2>
        <div class="blog__parent">
            <div class="blog-box border-radius-300">
                <img src="assets/image/blog/blog-new-11.jpg" class="blog-box__image border-radius-300" alt="">
                <div class= "blog-box__text block-1">
                    <h2>رویداد رونمایی از سرفیس‌ها در تاریخ ۲۰ مهر برگزار می‌شود</h2>
                    <p >اینطور که به نظر می‌رسد، مایکروسافت در نظر دارد رویداد مورد انتظار خود را به صورت حضوری و در تاریخ    ۲۰ مهر برگزار کند...</p>
                    <span class="blog-box__bottom block-y-1">
                        <spanb class="blog-box__info">
                            <p>25 دیدگاه</p>
                            <p>16 مهر 1402</p>
                        </spanb>
                        <button class="btn btn--primary btn--small blog-box__btn">ادامه ی مطلب</button>
                    </span>
                </div>
            </div>
            <div class="blog-box border-radius-300">
                <img src="assets/image/blog/blog-new-11.jpg" class="blog-box__image border-radius-300" alt="">
                <div class="blog-box__text block-1">
                    <h2>رویداد رونمایی از سرفیس‌ها در تاریخ ۲۰ مهر برگزار می‌شود</h2>
                    <p >اینطور که به نظر می‌رسد، مایکروسافت در نظر دارد رویداد مورد انتظار خود را به صورت حضوری و در تاریخ    ۲۰ مهر برگزار کند...</p>
                    <span class="blog-box__bottom block-y-1">
                        <spanb class="blog-box__info">
                            <p>25 دیدگاه</p>
                            <p>16 مهر 1402</p>
                        </spanb>
                        <button class="btn btn--primary btn--small blog-box__btn">ادامه ی مطلب</button>
                    </span>
                </div>
            </div>
            <div class="blog-box border-radius-300">
                <img src="assets/image/blog/blog-new-11.jpg" class="blog-box__image border-radius-300" alt="">
                <div class="blog-box__text block-1">
                    <h2>رویداد رونمایی از سرفیس‌ها در تاریخ ۲۰ مهر برگزار می‌شود</h2>
                    <p >اینطور که به نظر می‌رسد، مایکروسافت در نظر دارد رویداد مورد انتظار خود را به صورت حضوری و در تاریخ    ۲۰ مهر برگزار کند...</p>
                    <span class="blog-box__bottom block-y-1">
                        <spanb class="blog-box__info">
                            <p>25 دیدگاه</p>
                            <p>16 مهر 1402</p>
                        </spanb>
                        <button class="btn btn--primary btn--small blog-box__btn">ادامه ی مطلب</button>
                    </span>
                </div>
            </div>
        </div>
    </section>