<div class="header block-y-1">
        <div class="header__menu">
            <a href=  "#">
                <img src="./assets/image/icons/menu.svg" alt="">
            </a>
            <ul class="menu__item expanded">
                <a href="#"><img class="block-x" src="assets/image/jewellery-logo.svg" alt=""></a>
                <li><a href="#">لیست خرید</a></li>
                <li><a href="#">محصولات</a></li>
                <li><a href="#">بهترین کالا</a></li>
                <span class="close">close</span>
            </ul>
        </div>
        <div class="header__logo">
            <img src="assets/image/jewellery-logo.svg" alt="">
        </div>
        <div class="header__action">
            <span class="action__icon">
                <img src="assets/image/icons/basket.svg" alt="basket">
            </span>
            <span class="action__icon">
                <img src="assets/image/icons/user.svg" alt="userIcon">
            </span>
        </div>
    </div>
    <div class="header-desc">
        <div class="container">
            <div class="header-desc__top">
            <div class="top__logo">
                <img src="assets/image/jewellery-logo.svg" alt="">
            </div>
            <div class="top__search-bar">
                <span style="position: relative;">
                    <input type="text" class="search-bar__input">
                    <button class="btn btn--primary search-bar__btn"><span>دسته بندی</button>
                </span>
            </div>
            <div class="top__action">
                <button class="btn btn--outline">تومان</button>
                <button class="btn btn--primary">حساب کاربری</button>
            </div>
        </div>
        <div class="divider"></div>
        <div class="header-desc__bottom">
            <div class="bottom__links">
                <ul>
                    <li><a href="#">خانه<span><img src="assets/image/icons/home.svg" alt="" class="link__icon"></span></a></li>
                    <li><a href="#">فروشگاه<span><img src="assets/image/icons/shopping-cart.svg" alt="" class="link__icon"></span></a></li>
                    <li><a href="#">وبلاگ<span><img src="assets/image/icons/newspaper.svg" alt="" class="link__icon"></span></a></li>
                    <li><a href="#">تماس با ما<span><img src="assets/image/icons/phone (1).svg" alt="" class="link__icon"></span></a></li>
                </ul>
            </div>
            <div class="bottom__info">
                <span class="info__email">domanloom@gmail.com <span><img src="assets/image/icons/email.svg" class="info__img" alt=""></span></span>
                <span class="info__phone-number">09925438078 <span><img src="assets/image/icons/phone.svg" class="info__img" alt=""></span></span>
            </div>
        </div>
        </div>
    </div>