<section class="honors container block-1">
    <h1 class="honors__header">بخشی از <span class="text-primary">افتخارات</span> ما</h1>
    <div class="honors__parent">
        <div class="parent__one">
            <div class="honors__item honors-1 block">
                <img src="assets/image/card/ebout-us-1-edited.png" class="honors__img" alt="">
                <div class="item__text">
                    <h2>برنده جایزه <span class="text--primary">بهترین طلا فروشی</span> ایران</h2>
                    <p class="color--mute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
            </div>
            <div class="honors__item honors-2 block">
                <img src="assets/image/card/ebout-us-2-edited.png" class="honors__img" alt="">
                <div class="item__text">
                    <h2><span class="text--primary">بهترین قیمت</span> در بین رقبا</h2>
                    <p class="color--mute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
            </div>
        </div>
        <div class="parent__two">
            <div class="honors__item honors-3 block">
                <img src="assets/image/card/ebout-us-3-edited.png" class="honors__img" alt="">
                <div class="item__text">
                    <h2>پنج سال <span class="text--primary">خدمت صادقانه</span> به شما</h2>
                    <p class="color--mute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
            </div>
            <div class="honors__item honors-4 block">
                <img src="assets/image/card/ebout-us-4-edited.png" class="honors__img" alt="">
                <div class="item__text">
                    <h2><span class="text--primary" >بهترین قیمت</span> در بین رقبا</h2>
                    <p class="color--mute">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                </div>
            </div>
        </div>
    </div>
  </section>