<section class="our-choice">
        <div class="our-choice__parent block container">
            <div class="our-choice__intro block-1">
                <h2>چرا باید ما را انتخاب کنید؟</h2>
                <img src="assets/image/ebout-us-7.png" alt="">
                <button class="btn btn--primary">+1،000 مشتری راضی!!!</button>
            </div>
            <div class="our-choice__text--bg">
                <div class="our-choice__text">
                <h2>عضو باشگاه مشتریان ما شوید ...</h2>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <div class="input-parent">
                    <div class="input-parent__item">
                        <input type="text" class="search-bar__input input--block input" placeholder="ایمیل خود را وارد کنید ...">
                        <button class="btn btn--primary search-bar__btn">ثبت</button>
                    </div>
                </div>
            </div>
            <img src="assets/image/Group-84-4-min.png" class="intro__img-md" alt="">

        </div>
    </section>